body, html{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(31,31,125,1) 36%, rgba(0,212,255,1) 100%);
  color: #fff;
}
.app-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 64px;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2{
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 20px;
}
a{
  text-decoration: none;
  color: #A3CFFF;
  transition: color 0.3s;
  &:hover{
    color:#f39c12;
  }
}